CREATE TABLE [dbo].[CALIFICACION](
	[ID] [int] NOT NULL,
	[FK_AUDIOVISUAL] [int] NOT NULL,
	[CALIFICACION] [tinyint] NOT NULL,
 CONSTRAINT [PK_CALIFICACION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAJES]    Script Date: 28/6/2022 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAJES](
	[ID] [int] NOT NULL,
	[IMAGEN_URL] [varchar](50) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[EDAD] [tinyint] NOT NULL,
	[PESO] [tinyint] NOT NULL,
	[HISTORIA] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PERSONAJES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAJESxAUDIOVISUAL]    Script Date: 28/6/2022 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAJESxAUDIOVISUAL](
	[ID] [int] NOT NULL,
	[FK_PERSONAJE] [int] NOT NULL,
	[FK_AUDIOVISUAL] [int] NOT NULL,
 CONSTRAINT [PK_PERSONAJESxAUDIOVISUAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCCION_AUDIOVISUAL]    Script Date: 28/6/2022 08:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCCION_AUDIOVISUAL](
	[ID] [int] NOT NULL,
	[IMAGEN] [varchar](50) NOT NULL,
	[TITULO] [varchar](50) NOT NULL,
	[FECHA_CREACION] [date] NOT NULL,
 CONSTRAINT [PK_PRODUCCION_AUDIOVISUAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO